{{ define "index/index.tmpl" }} {{template "public/header.tmpl" .}}

<body>
  <h1>Wallpaper.net</h1>

  <div>当前服务版本: {{.AppPackage.Version}}</div>

  <br />
</body>
<script type="module">
  function GetList() {
    http
      .ajax({
        url: '/api/public/shell_run',
        data: {
          Password: password,
          ShellID: Number(key),
        },
        method: 'post',
      })
      .then((res) => {
        const data = res.data;
        $('#resMsg').html(data.Msg);
        $('#resData').html(data.Data);

        if (data.Code > 0) {
          this.disabled = false;
          $('#res').css('border-color', 'green');
        } else {
          $('#res').css('border-color', 'red');
        }

        if (data.Code === -6) {
          this.disabled = false;
        }
      });
  }
</script>
{{template "public/footer.tmpl" .}} {{ end }}
